<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= question.errors.count %>個のエラーがあります。</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="title">タイトル</label>
    <%= form.text_field :title, id: :question_title, class: 'form-control', placeholder: 'わかりやすい質問の件名', style: 'text-alignn: left;' %>
    <small id="title-help" class="form-text text-muted">一目でわかる質問のタイトルだと回答も早いです！「わかりません」「動かない」だけだとちょっと辛い…</small>
  </div>

  <div class="form-group">
    <label for="body">質問の本文</label>
    <div class="trix-container">
      <input id="question_body" type="hidden" name="question[body]" value="<%= @question.body%>" />
      <trix-editor input="question_body" class="form-control" placeholder="現象、再現方法、期待した結果、調べたことなどが記載されていると最高です。" rows="10"></trix-editor>
    </div>
  </div>

  <div class="form-group">
    <label for="body">タグ</label>
    <%= form.text_field :tag_list, id: :question_tag_list, class: 'form-control', placeholder: 'カンマ区切りでタグを入力' %>
  </div>

  <div class="actions">
    <input type="submit" value="登録する" class="btn btn-primary" />
  </div>
<% end %>
