<p>
  <%= sanitize question.body, tags: %w(div strong br ul li ol em del pre blockquote h1)  %>
</p>

<div class="poster-area">
  <p>
    <%= gravatar_image_tag(@question.user.mail, alt: @question.user.name, gravatar: {size: 40}) %>
    <%= @question.user.name %> (<%= @question.user.score.to_i %>)
  </p>
  <p>
    <%= @question.created_at.strftime("%Y-%m-%d %T") %>
  </p>
  <% if @current_user && @question.user_id == @current_user.id %>
    <p>
      <%= link_button '編集', 'btn-info', edit_question_path(@question) %>
    </p>
  <% end %>
</div>

