<p id="notice"><%= notice %></p>

<% if @current_user %>
<%= link_button '質問を投稿する', 'btn-primary', new_question_path %>
<% else %>
<%= link_button '質問を投稿する', 'btn-primary', login_path %>
<% end %>
<div class="search-area">
  <form class="form-inline">
    <input type="text" class="form-control" name="q" size="50%" placeholder="検索" value="<%= params[:q].to_s %>" />
  </form>
</div>
<table class="table">
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <!--td style="text-align: center; font-size: 36px;"><%= question.score %><div class="table-small">スコア</div></td-->
        <td style="text-align: center; width: 80px; font-size: 36px;"><%= question.answers.size %><div class="table-small">回答数</div></td>
        <td style="width: 60%; padding-top: 18px;">
          <%= link_to question.title, question %>
          <div class="tag-list">
            <%= render 'tags', tags: question.tags %>
          </div>
        </td>
        <td>
          <%= render 'questions/user', user: question.user %>
        </td>
        <td>
          <% if question.answers.any? %>
          <%= render 'questions/user', user:  question.answers.last.user %>
          <% end %>
        </td>
        <td><%= question.answers.any? ? time_ago_in_words(question.answers.last.updated_at) : '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>

<br>

