<p id="notice"><%= notice %></p>

<% if @current_user %>
<%= link_button '質問を投稿する', 'btn-primary', new_question_path %>
<% else %>
<%= link_button '質問を投稿する', 'btn-primary', login_path %>
<% end %>
<table class="table">
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <!--td style="text-align: center; font-size: 36px;"><%= question.score %><div class="table-small">スコア</div></td-->
        <td style="text-align: center; width: 80px; font-size: 36px;"><%= question.answers.size %><div class="table-small">回答数</div></td>
        <td style="width: 60%; padding-top: 18px;">
          <%= link_to question.title, question %>
          <div class="tag-list">
            <%= render 'tags', tags: question.tags %>
          </div>
        </td>
        <td>
          <%= gravatar_image_tag(question.user.mail, alt: question.user.name, gravatar: {size: 40}) %>
          <div><%= question.user.name%></div>
        </td>
        <td>
          <% if question.answers.any? %>
          <% user = question.answers.last.user %>
          <%= gravatar_image_tag(user.mail, alt: user.name, gravatar: {size: 40}) %>
          <div><%= user.name%></div>
          <% end %>
        </td>
        <td><%= question.answers.any? ? question.answers.last.updated_at.strftime("%Y-%m-%d %T") : '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

