<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<hr />
<p>
<p>
  <%= sanitize @question.body, tags: %w(div strong br ul li ol em del pre blockquote)  %>
</p>

<hr />
<p>
  <%= gravatar_image_tag(@question.user.mail, alt: @question.user.name, gravatar: {size: 40}) %>
  <%= @question.user.name %> (<%= @question.user.score.to_i %>)
</p>

<p>
  <strong>Score:</strong>
  <%= @question.score %>
</p>

<div style="margin-top: 40px;"></div>
<%= link_to raw('<button class="btn btn-info cancel-button">一覧に戻る</button>'),questions_path %>
<%= link_to raw('<button class="btn btn-info cancel-button">編集</button>'), edit_question_path(@question) %> 
