<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<hr />
<p>
<p>
  <%= @question.body %>
</p>

<hr />
<p>
  <%= gravatar_image_tag(@question.user.mail, alt: @question.user.name, gravatar: {size: 40}) %>
  <%= @question.user.name %> (<%= @question.user.score.to_i %>)
</p>

<p>
  <strong>Score:</strong>
  <%= @question.score %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
