<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail, id: :user_mail %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :activation_token %>
    <%= form.text_field :activation_token, id: :user_activation_token %>
  </div>

  <div class="field">
    <%= form.label :activation_status %>
    <%= form.check_box :activation_status, id: :user_activation_status %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :user_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
