<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= answer.errors.count %>個のエラーがあります。</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

    <hr />
    <h3>質問</h3>
    <hr />
    <%= render 'questions/question', question: question %>
    <hr />

  <% end %>

  <div class="form-group">
    <label for="answer">あなたの回答を投稿</label>
    <input id="answer_body" type="hidden" name="answer[body]" value="<%= answer.body%>" />
    <trix-editor input="answer_body" class="form-control" placeholder="" rows="10"></trix-editor>
  </div>
  <input type="hidden" name="answer[question_id]" value="<%= @question.id %>" />

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
